::ng-deep .p-menubar {
  border: none;
  background-color: white;
}

// 修改放大鏡樣式
::ng-deep {
  .p-input-icon-left {
    > i:first-of-type {
      color: #5D5FEF;
      font-weight: bold;
      left: 20px;
    }
  }
}

::ng-deep {
  .p-menubar {
    .p-menubar-end {
      margin-right: 30px;
    }
    .p-inputtext {
      width: 500px;
      border-radius: 10px;
      background-color: #F9FAFB;
      border: none;
      padding: 10px 20px 10px 50px
    }
  }
}

// topbar
.dashboard-title {
  margin-left: 22px;
  font-size: 25px;
  font-weight: 600;
  line-height: 55px;
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 两个图表各占一半宽度 */
  gap: 20px; /* 图表之间的间距 */
}

.custom-legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-line {
  width: 30px;
  height: 2px;
  background-color: #007bff; /* 更改顏色 */
  margin-right: 5px;
  position: relative;
}

.legend-ellipse {
  width: 12px;
  height: 12px;
  background-color: #007bff; /* 更改顏色 */
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: -5px;
}

.legend-text {
  margin-left: 10px;
  color: #6c757d; /* 字體顏色 */
  font-size: 14px;
}

.p-card {
  margin: 2rem;
}

.p-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.summary-card {
  width: 23%;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.details h2 {
  font-size: 1.5rem;
  margin: 0;
}

.details p {
  color: gray;
  margin: 0.5rem 0;
}

.details span {
  color: green;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-content span {
  font-size: 1.5rem;
  font-weight: bold;
}

.export-button {
  margin-left: auto;
}

// 進度條
.custom-table {
  width: 100%;
}

.progress-bar-container {
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 6px;
  width: 100%;
  margin-top: 10px;
}

.progress-bar span {
  display: block;
  height: 6px;
  border-radius: 10px;
}

.sales {
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

/* 顏色定義 */
.blue span {
  background-color: #4eafff;
}

.green span {
  background-color: #20c997;
}

.purple span {
  background-color: #6f42c1;
}

.orange span {
  background-color: #fd7e14;
}

/* 覆蓋p-table **/
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: #ffffff !important;
  border: none !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border: none !important;
}
