@import '~typeface-poppins/index.css';

::ng-deep .p-menubar {
  border: none;
  background-color: white;
}

// 修改放大鏡樣式
::ng-deep {
  .p-input-icon-left {
    > i:first-of-type {
      color: #5d5fef;
      font-weight: bold;
      left: 20px;
    }
  }
}

::ng-deep {
  .p-menubar {
    .p-menubar-end {
      margin-right: 30px;
    }
    .p-inputtext {
      width: 500px;
      border-radius: 10px;
      background-color: #f9fafb;
      border: none;
      padding: 10px 20px 10px 50px;
    }
  }
}

.custom-grid {
  display: flex;
}

// topbar
.dashboard-title {
  margin-left: 22px;
  font-size: 25px;
  font-weight: 600;
  line-height: 55px;
  font-family: 'Poppins', sans-serif;
}

.custom-legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-line {
  width: 30px;
  height: 2px;
  background-color: #007bff;
  margin-right: 5px;
  position: relative;
}

.legend-ellipse {
  width: 12px;
  height: 12px;
  background-color: #007bff;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: -5px;
}

.legend-text {
  margin-left: 10px;
  color: #6c757d;
  font-size: 14px;
}

.p-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-card-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 32px;
  color: #05004e;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.sales-summary {
  color: #737791;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 3px;
  font-weight: 400;
}

.export-button {
  width: 120px;
  height: 40px;
  color: #05004e;
  padding: 20px 16px;
  background-color: #ffffff;
  border: 1px solid #c3d3e2;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
}

// 資訊卡(4個方形)
.summary-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}
// 資訊卡(4個方形)
.summary-card {
  width: 22%;
  padding: 1.25rem;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.75rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.details h2 {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
  color: #151d48;
}

.details p {
  color: #425166;
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.details span {
  color: #4079ed;
  font-weight: 500;
  font-size: 0.75rem;
  font-family: 'Poppins', sans-serif;
}

.chart-container {
  height: 400px;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-content span {
  font-size: 1.5rem;
  font-weight: bold;
}

// 進度條
.custom-table {
  width: 100%;
}

.sales {
  padding: 0px 26px;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
  border: 2px solid var(--color-main);
  color: var(--color-main);
  background-color: var(--color-bg);
}

.progress-bar-container {
  border-radius: 10px;
  height: 4px;
  width: 100%;
  background-color: var(--color-bg);
}

.progress-bar span {
  display: block;
  height: 4px;
  border-radius: 10px;
  background-color: var(--color-main);
}

/* 顏色定義 */
.blue {
  --color-main: #007bff;
  --color-bg: rgba(0, 123, 255, 0.1);
}

.green {
  --color-main: #20c997;
  --color-bg: rgba(32, 201, 151, 0.1);
}

.purple {
  --color-main: #6f42c1;
  --color-bg: rgba(111, 66, 193, 0.1);
}

.orange {
  --color-main: #fd7e14;
  --color-bg: rgba(253, 126, 20, 0.1);
}
/* 未完成部分的透明效果 */
.progress-bar-container.blue {
  background-color: rgba(0, 123, 255, 0.1);
}

.progress-bar-container.green {
  background-color: rgba(40, 167, 69, 0.1);
}

.progress-bar-container.purple {
  background-color: rgba(111, 66, 193, 0.1);
}

.progress-bar-container.orange {
  background-color: rgba(253, 126, 20, 0.1);
}

// Popularity 欄位的寬度
.custom-table th.popularity-header,
.custom-table td.popularity-cell {
  width: 30%;
}

/* 覆蓋p-table **/
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: #ffffff !important;
  border: none !important;
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  color: #96a5b8;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border: none !important;
  padding: 20px 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444a6d;
}

::ng-deep .p-card {
  border-radius: 20px !important;
  box-shadow: 0 4px 20px rgba(238, 238, 238, 0.502);
  border: 1px solid rgba(248, 249, 250, 1);
}
::ng-deep .p-card .p-card-body {
  padding: 1.5rem 2rem 2rem 2rem;
  height: 400px;
}
::ng-deep .p-card .p-card-content {
  padding: 0;
}

// 覆蓋 grid 預設 margin 設定 (移除 margin )
::ng-deep .grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0rem;
  margin-left: 0rem;
  margin-top: 0rem;
}

::ng-deep .p-card .p-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  line-height: 32px;
  color: #05004e;
  margin-bottom: 1rem;
}
