::ng-deep .p-menubar {
  border: none;
  background-color: white;
}

// 修改放大鏡樣式
::ng-deep {
  .p-input-icon-left {
    > i:first-of-type {
      color: #5D5FEF;
      font-weight: bold;
      left: 20px;
    }
  }
}

::ng-deep {
  .p-menubar {
    .p-menubar-end {
      margin-right: 30px;
    }
    .p-inputtext {
      width: 500px;
      border-radius: 10px;
      background-color: #F9FAFB;
      border: none;
      padding: 10px 20px 10px 50px
    }
  }
}

// topbar
.dashboard-title {
  margin-left: 22px;
  font-size: 25px;
  font-weight: 600;
  line-height: 55px;
}

.chart-container {
  width: 100%;
}

.custom-legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-line {
  width: 30px;
  height: 2px;
  background-color: #007bff;
  margin-right: 5px;
  position: relative;
}

.legend-ellipse {
  width: 12px;
  height: 12px;
  background-color: #007bff;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: -5px;
}

.legend-text {
  margin-left: 10px;
  color: #6c757d;
  font-size: 14px;
}

.p-card {
  margin: 2rem;
}

.p-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 資訊卡(4個方形)
.summary-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.summary-card {
  width: 23%;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.details h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #151d48;
}

.details p {
  color: #425166;
  margin: 0.5rem 0;
  font-weight: 500;
}

.details span {
  color: #4079ed;
  font-weight: 500;
  font-size: 14px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-content span {
  font-size: 1.5rem;
  font-weight: bold;
}

.export-button {
  margin-left: auto;
}

// 進度條
.custom-table {
  width: 100%;
}

.sales {
  padding: 0px 26px;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
  border: 2px solid var(--color-main);
  color: var(--color-main);
  background-color: var(--color-bg);
}

.progress-bar-container {
  border-radius: 10px;
  height: 4px;
  width: 100%;
  background-color: var(--color-bg);
}

.progress-bar span {
  display: block;
  height: 4px;
  border-radius: 10px;
  background-color: var(--color-main);
}

/* 顏色定義 */
.blue {
  --color-main: #007bff;
  --color-bg: rgba(0, 123, 255, 0.1);
}

.green {
  --color-main: #20c997;
  --color-bg: rgba(32, 201, 151, 0.1);
}

.purple {
  --color-main: #6f42c1;
  --color-bg: rgba(111, 66, 193, 0.1);
}

.orange {
  --color-main: #fd7e14;
  --color-bg: rgba(253, 126, 20, 0.1);
}
/* 未完成部分的透明效果 */
.progress-bar-container.blue {
  background-color: rgba(0, 123, 255, 0.1);
}

.progress-bar-container.green {
  background-color: rgba(40, 167, 69, 0.1);
}

.progress-bar-container.purple {
  background-color: rgba(111, 66, 193, 0.1);
}

.progress-bar-container.orange {
  background-color: rgba(253, 126, 20, 0.1);
}

// Popularity 欄位的寬度
.custom-table th.popularity-header,
.custom-table td.popularity-cell {
  width: 26%;
}

/* 覆蓋p-table **/
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: #ffffff !important;
  border: none !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border: none !important;
}
