<p-menubar class="top-0 sticky z-1">
  <ng-template pTemplate="start">
    <div class="dashboard-title">Dashboard</div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search here..." />
      </span>
    </div>
  </ng-template>
</p-menubar>

<div class="grid p-fluid custom-grid">
  <!-- Today's Sales -->
  <div class="col-12 md:col-7 p-3">
    <p-card>
      <div class="p-card-header">
        <h2 class="p-card-title">
          Today's Sales <br />
          <span class="sales-summary">Sales Summary</span>
        </h2>
        <button
          pButton
          label="Export"
          icon="pi pi-download"
          class="export-button"
        ></button>
      </div>
      <div class="grid summary-cards">
        <div
          *ngFor="let card of summaryCards"
          class="col-12 md:col-3 summary-card"
          [ngStyle]="{ 'background-color': card.color }"
        >
          <div class="icon" [ngStyle]="{ 'background-color': card.iconColor }">
            <i [class]="card.icon"></i>
          </div>
          <div class="details">
            <h2>{{ card.value }}</h2>
            <p>{{ card.title }}</p>
            <span>{{ card.change }}</span>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <!-- Visitor Insights -->
  <div class="col-12 md:col-5 p-3">
    <p-card header="Visitor Insights">
      <div class="chart-content">
        <p-chart
          [type]="chartInfo['visitor-insights'].type"
          [data]="chartInfo['visitor-insights'].data"
          [options]="chartInfo['visitor-insights'].options"
        ></p-chart>
      </div>
    </p-card>
  </div>
  <!-- Total Revenue Chart -->
  <div class="col-12 md:col-5 p-3">
    <p-card header="Total Revenue">
      <div class="chart-container">
        <p-chart
          [type]="chartInfo['total-revenue'].type"
          [data]="chartInfo['total-revenue'].data"
          [options]="chartInfo['total-revenue'].options"
        ></p-chart>
      </div>
    </p-card>
  </div>
  <!-- Customer Satisfaction Chart -->
  <div class="col-12 md:col-7 p-3">
    <p-card header="Customer Satisfaction">
      <div class="chart-content">
        <p-chart
          [type]="chartInfo['customer-satisfaction'].type"
          [data]="chartInfo['customer-satisfaction'].data"
          [options]="chartInfo['customer-satisfaction'].options"
        ></p-chart>
      </div>
    </p-card>
  </div>
  <!-- Top Products Table -->
  <div class="col-12 md:col-9 p-3">
    <p-card header="Top Products">
      <p-table [value]="products" class="custom-table">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th class="popularity-header">Popularity</th>
            <th>Sales</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td class="popularity-cell">
              <div class="progress-bar-container" [ngClass]="product.color">
                <div class="progress-bar" [ngClass]="product.color">
                  <span [ngStyle]="{ width: product.popularity + '%' }"></span>
                </div>
              </div>
            </td>
            <td>
              <span class="sales" [ngClass]="product.color"
                >{{ product.popularity }}%</span
              >
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <!-- Hire vs Cancel -->
  <div class="col-12 md:col-3 p-3">
    <p-card header="Hire vs Cancel">
      <div class="chart-content">
        <p-chart
          [type]="chartInfo['hire-vs-cancel'].type"
          [data]="chartInfo['hire-vs-cancel'].data"
          [options]="chartInfo['hire-vs-cancel'].options"
        ></p-chart>
      </div>
    </p-card>
  </div>
</div>
