$sidebarWidth: 13%;
.main-content {
    width: calc(100% - $sidebarWidth);
  }

.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  width: 87%;
  margin-left: 13%;
  padding: 20px;
  box-sizing: border-box;
}