<div class="sidebar">
  <div class="logo">
    <img src="assets/images/logo.png" alt="Dabang" />
    <span>Dabang</span>
  </div>

  <ul class="menu">
    <li><i class="pi pi-chart-pie"></i> Dashboard</li>
    <li><i class="pi pi-chart-bar"></i> Leaderboard</li>
    <li><i class="pi pi-shopping-cart"></i> Order</li>
    <li><i class="pi pi-box"></i> Products</li>
    <li><i class="pi pi-chart-line"></i> Sales Report</li>
    <li><i class="pi pi-comments"></i> Messages</li>
    <li><i class="pi pi-cog"></i> Settings</li>
    <li><i class="pi pi-sign-out"></i> Sign Out</li>
  </ul>

  <div class="pro-upgrade">
    <img src="assets/images/logo.png" alt="Dabang Pro" />
    <span>Dabang Pro</span>
    <p>
      Get access to all<br />
      features on webapp
    </p>
    <button>Get Pro</button>
  </div>
</div>
